
/*........................
Reset de valores de la web
........................*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: fantasy;

}

:root{
    --1: #ffffff;
    --2: #20b89c;
    --3: #000000;
    --4: #dddddd;
}

body{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
/*****************************************************************************************************************************************/
/********************
        Header
********************/
/*****************************************************************************************************************************************/

.cabecera{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 4rem;
    border-radius: 0 0 2rem 2rem ;
    box-shadow: 0.2rem 0.2rem 0.5rem var(--2);
    background: var(--1);
}


.logo_codesfly{
    width: 15rem;
}

.cabecera_menu{
    gap: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
    list-style: none;
}

.apartado_menu{
    text-decoration: none;
    color: var(--3);
}
.apartado_menu:hover{
    color:var(--2);
}

.cabecera_menu_hamburguesa{
    height: 2.5rem;
    padding: 0.4rem 0;
    display: none;
    border-radius: 0 0 1.5rem 0;
}

.hamburguesa_ul{
    height: 9rem;
    display: none;
    position: absolute;
    top:5rem;
    right:2rem;
    background: var(--1);
    border-radius: 1rem;
    border:var(--2) solid;
}

.hamburguesa_apartados{
    display: flex;
    align-items: center;
    padding: 0.5rem;
}

.hamburguesa_opcion{
    color: var(--2);
    text-decoration: none;
}

.hamburguesa_input:checked ~.hamburguesa_ul{
    display: block;
}
.hamburguesa_input{
    display: none;
}
.hamburguesa_label{
    width: 2rem;
    height: 2rem;
    box-sizing: border-box;
    display: inline-block;
    border: 2px solid var(--2);
    border-radius: 5px;
    line-height: 1.6rem;
    font-weight: bold;
    text-align: center;
    user-select: none;
    background: var(--1);
    color: var(--2);
}


.cabecera_interacciones{
    width: fit-content;
    gap: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.cabecera_boton{
    width: fit-content;
    padding: 0.5rem;
    border-radius: 5rem;
    border:var(--2) 0.2rem solid;
    font-size: 1rem;
    color: var(--2);
    background: none;
    transition: 0.5s;
}
.cabecera_boton:hover {
    transition: 0.5s;
    background: var(--2);
    color: var(--1);
}
.texto_iniciar_sesion{
    display: flex;
}
.icono_inicio_sesion{
    display: none;
    width: 1.5rem;
}

.icono_carrito{
    width: 2rem;
    transition: 0.5s;
}

.icono_carrito:hover{
    transition: 0.5s;
    transform: scale(1.2);
}
/*****************************************************************************************************************************************/
/********************
        Main
********************/
/*****************************************************************************************************************************************/

main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    h2{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: var(--2);
    }
    p{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

}



/*****************************************************************************************************************************************/
/********************
        Footer
********************/
/*****************************************************************************************************************************************/

footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 4rem;
    border-radius: 2rem 2rem 0 0 ;
    box-shadow: 0.2rem 0.2rem 0.9rem var(--2);

}

.section_footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.footer_logo{
    display: flex;
    justify-content: center;
    width: 10rem;
}

.ul_menu_footer{
    display: flex;
    flex-direction: row;
    padding: 0.5rem 0.1rem 0.1rem ;
    gap: 1rem;
    color: var(--2);
    border-top: 0.15rem solid var(--2);
}
.li_menu_footer{
    list-style: none;
}
.politicas_footer{

    text-decoration: none;
    color: var(--3);

}
.derechos_footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    p{
        font-size: 0.8rem;
    }
}
/*****************************************************************************************************************************************/






@media (max-width: 1100px) {


    .logo_codesfly{
        width: 13rem;
    }
    /* Main */
    .articulo_inicial {
        padding: 2rem;
        background-position: center -20rem;
    }
    .img_servicios_informaticos, .img_ir_a_productos {
        width: 20rem;
    }
    .informacion_servicios_informaticos, .informacion_ir_a_productos {
        padding: 0 2rem;
    }

    /* Footer */
    .footer_logo {
        width: 8rem;
    }
    .ul_menu_footer {
        flex-wrap: wrap;
        gap: 0.5rem;
    }

}
@media (max-width: 1050px) {
    .cabecera{

        padding: 1.5rem 2rem;



    }
    .logo_codesfly{
        width: 10rem;
    }

}
@media (max-width: 920px) {
    .cabecera_menu_hamburguesa{
        display: flex;
    }
    .cabecera_menu{
        display: none;
    }
    /* Main */
    .servicios_informaticos, .ir_a_productos {
        flex-direction: column;
        align-items: center; /* Centra los elementos */
        gap: 2rem;
    }

    .img_servicios_informaticos, .img_ir_a_productos {
        width: 20rem; /* Reduce el tamaño */
        max-width: 90%; /* Asegura que no desborden el contenedor */
        border-radius: 0; /* Elimina cualquier redondeo no deseado */
    }

    .informacion_servicios_informaticos, .informacion_ir_a_productos {
        text-align: center; /* Ajusta el texto para dispositivos pequeños */
        padding: 0 2rem;
    }


}
@media (max-width: 550px) {
    .texto_iniciar_sesion{
        display: none;
    }
    .icono_inicio_sesion{
        display: flex;
    }
    /* Main */
    .img_servicios_informaticos, .img_ir_a_productos {
        width: 15rem; /* Reduce aún más el tamaño */
        max-width: 80%;
    }

    .informacion_servicios_informaticos, .informacion_ir_a_productos {
        gap: 0.5rem; /* Reduce el espacio entre elementos */
    }

}
@media (max-width: 480px) {
    .cabecera{

        padding: 1rem 0.5rem;
    }
    .icono_inicio_sesion{
        width: 1rem;
    }
    .hamburguesa_ul{
        right: 0.5rem;
        top: 4.5rem;
    }
    .servicios_informaticos, .ir_a_productos {
        gap: 1rem;
    }

    .img_servicios_informaticos, .img_ir_a_productos {
        width: 100%; /* Usa todo el ancho del contenedor */
        max-width: 100%; /* Garantiza que no desborde */
    }

    .informacion_servicios_informaticos, .informacion_ir_a_productos {
        padding: 0 1rem;
    }

}
