*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: fantasy;
}

:root{
    --1: #ffffff;
    --2: #20b89c;
    --3: #000000;
    --4: #dddddd;
}
main{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.comienzo{

    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius:0 2rem 2rem 0;
    border: var(--2) solid;
    box-shadow: 1rem 1rem 2.5rem var(--2);
    box-shadow-color: var(--2);
}
.comienzo__principal{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
}
.comienzo__principal__boton{
    background: none;
    color: var(--2);
    width: fit-content;
    height: fit-content;
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: var(--2) solid 0.2rem;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.comienzo__principal__boton:hover {
    background-color: var(--2);
    color: var(--1);
    transform: scale(1.1); /* Aumenta tamaño */
}
.img__comienzo{
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;


}